@media screen and (max-width:1200px)
{
    
}
@media screen and (max-width:1024px)
{
    .Header{
        padding: 20px 50px;
    }
}
@media screen and (max-width:992px)
{
    .Navbar ul li a{
        margin: 0px 15px;
    }
    .Content_info h1{
        font-size: 40px;
        line-height: 60px;
    }
}
@media screen and (max-width:768px)
{
    .Header .Navbar ul{
        display: none;
    }
    .Header .Navbar .open_btn{
        display: block;
    }

    .Header_content{
        flex-direction: column;
    }
    .Content_info{
        width: 100%;
        text-align: center;
    }
    .Content_image{
        text-align: center;
        width: 100%;
    }

    .Content_image img{
        width: 80%;
    }
    .info_btns{
        justify-content: space-around;
    }
}
@media screen and (max-width:576px)
{
    .Content_info h1{
        font-size: 30px;
        line-height: 60px;
    }
    .Content_image img{
        width: 100%;
    }
    .Header{
        padding: 20px 20px;
    }
    .Header .Navbar{
        padding: 0px 20px;
    }
}
@media screen and (max-width:400px)
{
    .info_btns{
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .Header_content{
        padding: 0px 20px;
    }
}
@media screen and (max-width:320px)
{
    
}
@media screen and (max-width:280px)
{
    
}
